br
br
img src= "top.png"


p = link_to '大丈夫なので入室する', characters_url, class: 'btn btn-outline-secondary'
p = link_to 'ボーイズラブとは何か知りたい', 'https://ja.wikipedia.org/wiki/%E3%83%9C%E3%83%BC%E3%82%A4%E3%82%BA%E3%83%A9%E3%83%96', class: 'btn btn-outline-info'